:host{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1{
    font-size: xx-large;
}

h1{
    font-size: 72px;
}

p{
    font-size: xx-large;
}

input{
    margin-top: 1rem;
    font-size: xx-large;
    padding: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    background: rgb(20, 20,20);
    border: 2px dashed greenyellow;
}

input:focus{
    outline: none;
}